pandas
numpy
isaacsim[all]==4.5.0

isaacsim-kernel
isaacsim-app
isaacsim-asset
isaacsim-benchmark
isaacsim-code-editor
isaacsim-core
isaacsim-cortex
isaacsim-gui
isaacsim-replicator
isaacsim-rl
isaacsim-robot
isaacsim-robot-motion
isaacsim-robot-setup
isaacsim-sensor
isaacsim-storage
isaacsim-template
isaacsim-utils

isaacsim[extscache]==4.5.0
isaacsim-extscache-physics
isaacsim-extscache-kit
isaacsim-extscache-kit-sdk

